body {
    margin: auto;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: #ebebeb;
    background: #4aaaa5;    
    padding: 25px;
    margin-top: 15px;
    margin-left: 178px;
    width: 200px;
    height: 35px;
}

#line {
    border-bottom: 6px solid white;
    margin-top: 23px;
}

#boxAboutMe {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 20px;
    width: 960px; /* adjusts width, from left to right */
    margin-left: auto; /* auto sets to center */
    margin-right: auto;
    padding: 1em;
    line-height: 35px; /* adds spaces between lines */
}

.aboutMe {
    color: #4aaaa5;
}

#mainNav {
    color: white;
    float: right;
    margin-top: -70px;
    margin-right: 178px;
}

/* Default nav colors */
#about, #portfolio, #contact {
    color: white;
    text-decoration: none; /*gets rid of that underline*/
}

/* Changes colors when the mouse hovers over */
#about:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

#portfolio:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

#contact:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

/* Changes colors when the mouse clicks */
#about:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#portfolio:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#contact:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

/* Image */
#meng {
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 40px;
}