body {
    margin: auto;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: rgb(100, 100, 100);
    margin-top: -23px;
    margin-bottom: 15px;
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: black;
    background-color: rgb(175, 175, 175);    
    padding: 20px;
    margin-left: 185px;
    width: 190px;
    height: 35px;
}

#box {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 20px;
    width: 960px; /* adjusts width, from left to right */
    margin-left: auto; /* auto sets to center */
    margin-right: auto;
    padding: 1em;
    line-height: 30px; /* adds spaces between lines */
}

.aboutMe, .contact, .portfolio {
    color: #4aaaa5;
}

#mainNav {
    color: white;
    float: right;
    margin-top: -65px;
    margin-right: 185px;
}

/* Default nav colors */
#about, #portfolio, #contact {
    color: white;
    font-weight: bold;
    text-decoration: none; /*gets rid of that underline*/
}

/* Changes colors when the mouse hovers over */
#about:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#portfolio:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Changes colors when the mouse clicks */
#about:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#portfolio:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#contact:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

/* Image */
#meng {
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 40px;
}

.input {
    width: 956px;
}

.message {
    width: 956px;
    height: 100px;
}

#footer {
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(100, 100, 100);
    border-top-color: #dddddd;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-top-style: solid;
    border-top-width: 3px;
}