body {
    margin: auto;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: rgb(100, 100, 100);
    margin-top: -23px;
    margin-bottom: 15px;
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: black;
    background-color: rgb(175, 175, 175);    
    padding: 20px;
    margin-left: 177px;
    width: 190px;
    height: 35px;
}

#aboutBox{
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 20px;
    width: 960px; /* adjusts width, from left to right */
    margin-left: auto; /* auto sets to center */
    margin-right: auto;
    padding: 1em;
    line-height: 30px; /* adds spaces between lines */
}

#contactBox {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 50px;
    margin-left: 177px;
    width: 690px; /* adjusts width, from left to right */
    height: 380px;
    padding: 1em;
    line-height: 30px; /* adds spaces between lines */
}

#connectBox {
    float: right;
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-right: 177px;
    margin-top: -465px;
    padding: 1em;
}

#portfolioBox {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 220px;
    padding: 1em;
    width: 960px; /* adjusts width, from left to right */
    height: 500px;
}

.aboutMe, .contact, .portfolio {
    color: #4aaaa5;
    font-size: 28px;
}

#mainNav {
    color: white;
    float: right;
    margin-top: -65px;
    margin-right: 177px;
}

/* Default nav colors */
#about, #portfolio, #contact {
    color: white;
    font-weight: bold;
    text-decoration: none; /*gets rid of that underline*/
}

/* Changes colors when the mouse hovers over */
#about:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#portfolio:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Changes colors when the mouse clicks */
#about:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#portfolio:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#contact:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

/* Image */
#meng {
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 40px;
}

.project {
    float:left;
    margin-right: 40px;
}

.tag {
    position:relative;
    bottom: 50px;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    background-color:rgb(156, 156, 156) ;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input {
    width: 687px;
}

.message {
    width: 687px;
    height: 100px;
}

footer {
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: rgb(100, 100, 100);
    border-top-color: #dddddd;
    color: white;
    text-align: center;
    line-height: 50px;
}

.footer,
.push {
  height: 50px;
}